/* :root {
    --hcolor: #2d476ce8;
    --mcolor: #4c87d9e8;
    --bcolor: #fff;
} */
:root {
    --hcolor: #1c424ae8;
    --mcolor: #4cd995e8;
    --bcolor: #fffefe;
}
header h1::after {
    content: "(اصدار تجريبي)";
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    background-image: url("photos/background4.webp");
    background-size: contain;
  }
  
header {
    background-color: var(--hcolor);
    color: var(--bcolor);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    direction: rtl;
    position: sticky;
    top: 0px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: var(--bcolor);
    text-decoration: none;
}

section * {
    text-shadow: 3px 2px 2px #88ccd4;
    color: wheat;
    background: #00000063;
    border-radius: 14px;
    border: 18px;
    padding: 5px;
}
section {
    padding: 350px 0px;
    text-align: center;
    height: 100vh;
}

section div {
    width: 200px;
    margin: 0 70px 0 auto;
}

section a {
    display: block;
    margin-top: 20px;
    color: var(--hcolor);
    background-color: var(--bcolor);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

footer {
    background-color: var(--hcolor);
    color: var(--bcolor);
    padding: 20px;
    text-align: center;
}